@import-normalize; /* bring in normalize.css styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(./assets/fonts/Poppins-Regular.woff) format('woff'),
    url(./assets/fonts/Poppins-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(./assets/fonts/Poppins-SemiBold.woff) format('woff'),
    url(./assets/fonts/Poppins-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./assets/fonts/Poppins-Bold.woff) format('woff'),
    url(./assets/fonts/Poppins-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Circe-Regular';
  src: url(./assets/fonts/Circe-Regular.woff) format('woff'),
    url(./assets/fonts/Circe-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Circe-Bold';
  src: url(./assets/fonts/Circe-Bold.woff) format('woff'),
    url(./assets/fonts/Circe-Bold.woff2) format('woff2');
}
