/* bring in normalize.css styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins-Regular',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@font-face {
  font-family: 'Poppins-Regular';
  src: url(./assets/fonts/Poppins-Regular.woff) format('woff'),
    url(./assets/fonts/Poppins-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(./assets/fonts/Poppins-SemiBold.woff) format('woff'),
    url(./assets/fonts/Poppins-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./assets/fonts/Poppins-Bold.woff) format('woff'),
    url(./assets/fonts/Poppins-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Circe-Regular';
  src: url(./assets/fonts/Circe-Regular.woff) format('woff'),
    url(./assets/fonts/Circe-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Circe-Bold';
  src: url(./assets/fonts/Circe-Bold.woff) format('woff'),
    url(./assets/fonts/Circe-Bold.woff2) format('woff2');
}

/* h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
} */

